extends layout

block content
    script(src='/javascripts/index.js')
    nav.navbar
        h1.brand.top.light m
        h6.brand.top.light 02
        button.btn.btn-default.pull-right.top.light.nav-buttons Buy now
        button#trial-button.btn.pull-right.top.light.nav-buttons Get free trial

    .container.col-md-8.center-block
        h1.text-center.dark Share your Files with Ease
        br
        h4.text-center.light We push ourselves to new levels of inspired excellence with each project and we sweat creativity.

    #graph.container

    .container.col-md-11.center-block.text-center
        h2.dark We push ourselves to new levels of inspired excellence with each project and we sweat creativity. You won't see anything until we're done drooling at the result
        br
        button.btn.btn-success Buy now for €23

    .divider
        hr
        button.glyphicon.glyphicon-chevron-down.center-block.btn.btn-default.dark#carousel-button
        hr

    #carousel.carousel.slide(data-ride="carousel").collapse
        <!-- Wrapper for slides -->
        .carousel-inner(role="listbox")
            .item.active
                .center-block
                    .image.col-xs-2.col-md-2.text-center
                        h1 img
                    .comment.col-xs-10.col-md-10
                        h2.dark "Just started using awesome Module. Great way to boost the hard designing or prototyping process. Also a perfect tool for creative studios and freelancers"
                        .credentials
                            p.dark Irina Bykova
                            p.light Photographer works with Slack team
        <!-- Left and right controls -->
        a.left.carousel-control(href="#carousel", role="button", data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous
        a.right.carousel-control(href="#carousel", role="button", data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only Next

    #licenses.container
        h1.dark.text-center Choose Your License
        .row
            #left.col-md-4.panel.panel-default
                .corner-info
                    a.light(href="/")
                        h4 i
                .panel-heading.text-center
                    h2.dark Personal
                    br
                    h5.light Just started using awesome Module. Great way to boost the hard designing#[br]or prototyping  process.
                .panel-body
                    h1#free.col-xs-12.col-md-4 Free
                    p.light.text-left.col-md-8 Per month billed annually or $250 from month to month
                    button.btn.btn-success.btn-license Get it
            #middle.col-md-4.panel.panel-default
                .corner-info
                    a.light(href="/")
                        h4 i
                .panel-heading.text-center
                    h2.dark Agency
                    br
                    h5.light Also a perfect tool for creative studios and freelancers.
                .panel-body
                    h1.col-xs-12.col-md-4.dark #[sup $]123
                    p.light.text-left.col-md-8 Per month billed annually or $250 from month to month
                    button.btn.btn-success.btn-license Buy now
            #right.col-md-4.panel.panel-default
                .corner-info
                    a.light(href="/")
                        h4 i
                .panel-heading.text-center
                    h2.dark Unlimited
                    br
                    h5.light Living in today's metropolitan world of cellular phones, mobile computers.
                .panel-body
                    h1.dark.col-xs-12.col-md-4 #[sup $]232
                    p.light.text-left.col-md-8 Per month billed annually or $250 from month to month
                    button.btn.btn-success.btn-license Buy now

    #interact.container.col-xs-9.col-md-9.col-lg-7.center-block.text-center
        h1.dark Become One of Us
        br
        h4.light Module 01 is big, stylish and handy UI Kit, full of many useful elements
        form(method="post", onsubmit="return false;").form-group
            .input-group.input-group-lg
                .icon-addon.addon-lg
                    input#email.form-control(type="text", placeholder="E-mail address")
                    label.glyphicon.glyphicon-send(for="email", rel="tooltip", title="email")
                span.input-group-btn
                    button#emailButton.btn.btn-success(type="submit") Let's chat!
        p#emailError.dark.collapse Please enter a valid email.


    #nav-bottom.text-center
        ul.list-inline
            li.col-md-3.col-xs-3.text-left IMG
            #inner.col-md-6.col-xs-6
                ul.list-inline
                    li #[a(href="/apps", alt="Apps") Apps]
                    li #[a(href="/gadgets", alt="Gadgets") Gadgets]
                    li #[a(href="/science", alt="Science") Science]
                    li #[a(href="/nature", alt="Nature") Nature]
                    li #[a(href="/creative", alt="Creative") Creative]
            li.col-md-3.col-xs-3.text-right #[span.glyphicon.glyphicon-copyright-mark] 2016 Great Simple